!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Landing Page - Start Bootstrap Theme
    / Bootstrap core CSS
    -# %link{:href => "vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    / Custom fonts for this template
    -# %link{:href => "vendor/fontawesome-free/css/all.min.css", :rel => "stylesheet"}/
    -# %link{:href => "vendor/simple-line-icons/css/simple-line-icons.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/
    / Custom styles for this template
    -# %link{:href => "css/landing-page.min.css", :rel => "stylesheet"}/
  %body
    / Navigation
    =render "headcontainer"
    / Masthead
    %header.masthead.text-white.text-center
      .overlay
        .container
        .row
        -# .swiper__text
        -#   .swiper__text--large プロ家庭教師のワイズで一緒に頑張ってみませんか?
        -#   入会金や退会金は一切かかりません。
          .col-md-10.col-lg-8.col-xl-7.mx-auto
            %form
              .form-row__top
              -if user_signed_in?
                = link_to "講師一覧はこちら", teachers_path,class:"btn loginPage_contents_btn"
              - else
                = link_to "講師一覧はこちら",new_user_session_path,class:"btn loginPage_contents_btn"
        .swiper-container.swiper1
          -# slide wrapper
          .swiper-wrapper
            -# slides
            .swiper-slide
              = image_tag 'photo_2.jpg', alt: 'swipe01',id:"swiper-image"
              .swiper__text
                .swiper__text--large プロ家庭教師のワイズで一緒に頑張ってみませんか?
                入会金や退会金は一切かかりません。
                .swiper__link--tag
                -if user_signed_in?
                  = link_to "講師一覧はこちら", teachers_path,class:"btn loginPage_contents_btn"
                - else
                  = link_to "講師一覧はこちら",new_user_session_path,class:"btn loginPage_contents_btn"
            .swiper-slide
              = image_tag 'teacher.jpg', alt: 'swipe02',id:"swiper-image"
              .swiper__text
                .swiper__text--large プロ家庭教師のワイズで一緒に頑張ってみませんか?
                入会金や退会金は一切かかりません。
                .swiper__link--tag
                -if user_signed_in?
                  = link_to "講師一覧はこちら", teachers_path,class:"btn loginPage_contents_btn"
                - else
                  = link_to "講師一覧はこちら",new_user_session_path,class:"btn loginPage_contents_btn"
            .swiper-slide
              = image_tag 'achieve.jpg', alt: 'swipe03',id:"swiper-image"
              .swiper__text
                .swiper__text--large プロ家庭教師のワイズで一緒に頑張ってみませんか?
                入会金や退会金は一切かかりません。
                .swiper__link--tag
                -if user_signed_in?
                  = link_to "講師一覧はこちら", teachers_path,class:"btn loginPage_contents_btn"
                - else
                  = link_to "講師一覧はこちら",new_user_session_path,class:"btn loginPage_contents_btn"
          -# if need navigation button 
        .swiper-button-prev.prev1
        .swiper-button-next.next1
        -# if need pagination 
        .swiper-pagination.page1
      -# .row
      -#   .col-xl-9.mx-auto
      -#     %h1.mb-5 プロ家庭教師のワイズで一緒に頑張ってみませんか?
      -#     入会金や退会金は一切かかりません。

            
              
      -#     .col-md-10.col-lg-8.col-xl-7.mx-auto
      -#       %form
      -#         .form-row__top
      -#         -if user_signed_in?
      -#           = link_to "講師一覧はこちら", teachers_path,class:"btn loginPage_contents_btn"
      -#         - else
      -#           = link_to "講師一覧はこちら",new_user_session_path,class:"btn loginPage_contents_btn"
                -# .col-12.col-md-9.mb-2.mb-md-0
                -#   %input.form-control.form-control-lg{:placeholder => "Enter your email...", :type => "email"}/
                -# .col-12.col-md-3
                -#   %button.btn.btn-block.btn-lg.btn-primary{:type => "submit"} Sign up!
    / Icons Grid
    %section.features-icons.bg-light.text-center
      .container
        .row
          .col-lg-4.effect-fade
            .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
              .features-icons-icon.d-flex
                %i.icon-screen-desktop.m-auto.text-primary
              %h3 学習サポート
              %p.lead.mb-0 学習カウンセリング・受験対策進路サポートも授業料金内でおこなっております
          #effect2.col-lg-4.effect-fade
            .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
              .features-icons-icon.d-flex
                %i.icon-layers.m-auto.text-primary
              %h3 家計にやさしい家庭教師センターです
              %p.lead.mb-0  地域の他の家庭教師会社や塾よりも低料金でご案内出来ます
          #effect3.col-lg-4.effect-fade
            .features-icons-item.mx-auto.mb-0.mb-lg-3
              .features-icons-icon.d-flex
                %i.icon-check.m-auto.text-primary
              %h3 自分に合った先生を何回でも選べます
              %p.lead.mb-0 担当教師は何度でも交換無料です。お子様にあった先生をマッチングシステムで何回でも選択可能です
                
                
    / Image Showcases
    %section.showcase
      .container-fluid.p-0
        .row.no-gutters.effect-fade
          .col-lg-6.order-lg-2.text-white.showcase-img{:style => "background-image: url(#{asset_path"bg-showcase-1.jpg"});"}
          .col-lg-6.order-lg-1.my-auto.showcase-text
            %h2 学習サポート、カウンセリングは全て無料
            %p.lead.mb-0 ｢勉強が苦手な子｣は､授業では恥ずかしくて質問できなかったり､そもそも『質問の仕方がわからない』ので､わからない所をそのままにしてしまいがちです。
            ワイズでは『質問の仕方』がわからなくても､分からない問題をFAXやスマホのカメラで送るだけ！その後は､学習サポートスタッフがメールや電話で連絡して､お子さんの弱点を突き止めて､｢できた!｣の自信に変わるまで丁寧に導きます。
        .row.no-gutters.effect-fade
          .col-lg-6.text-white.showcase-img{:style => "background-image: url(#{asset_path"bg-showcase-2.jpg"});"}
          .col-lg-6.my-auto.showcase-text
            %h2 家計にやさしい家庭教師センターです
            %p.lead.mb-0 「家庭教師って料金が高い！」というイメージを持たれている方も少なくないと思います。が、、
            ワイズは「家計に優しい家庭教師」なので、他の家庭教師会社や塾よりも低料金でできるご家庭も多いかと思います！
            そして、ワイズなら他にも「家計にやさしい」お得な割引プランが盛り沢山なのです！
        .row.no-gutters.effect-fade
          .col-lg-6.order-lg-2.text-white.showcase-img{:style => "background-image: url(#{asset_path"bg-showcase-3.jpg"});"}
          .col-lg-6.order-lg-1.my-auto.showcase-text
            %h2 自分に合った先生を何回でも選べます
            %p.lead.mb-0 担当教師は何度でも交換無料です。お子様にあった先生をマッチングシステムで何回でも選択可能です
            「絶対に公立高校に行かせたい」
            「月に15,000円までしか払えないが、この金額で成績を上げてほしい」
            「中学は慶應義塾普通部に行かせたいけれど、今の塾だけでは不安」
            「他社の家庭教師会社にお願いしているけれど、ワイズさんの2倍以上の金額を払っている。出費が抑えられれば助かる。」
            「不登校の子を、何とか学校に通える様にして下さい。」
            「英語だけ偏差値が足りないので、1教科集中でやってほしい」
            「5教科とも厳しい状況。クラスの平均まで1日も早く学力を上げてほしい」

            北海道から沖縄まで、可能な限り出向きます。
            どんなご要望にも、プロの名にかけて全力でお応え致します。
            講師一同、お待ちしております。
    / Testimonials
    %section.testimonials.text-center.bg-light
      .container.effect-fade
        %h2.mb-5 私たちが運営しています
        .row
          .col-lg-4
            .testimonial-item.mx-auto.mb-5.mb-lg-0
              %img.img-fluid.rounded-circle.mb-3{:alt => "", :src => "#{asset_path"kotaro.jpg"}"}/
              
              %h5 Kotaro S.
              %p.font-weight-light.mb-0 名誉会長<br>うちに任せておけば安心！！！
          .col-lg-4
            .testimonial-item.mx-auto.mb-5.mb-lg-0
              %img.img-fluid.rounded-circle.mb-3{:alt => "", :src => "#{asset_path"keichan.jpg"}"}
              %h5 Keita Higaki
              %p.font-weight-light.mb-0 WEB制作担当<br>
              地域密着型の家庭教師センターです。ここより親身にんってくれるところはなかなかないのでは？
          .col-lg-4
            .testimonial-item.mx-auto.mb-5.mb-lg-0
              %img.img-fluid.rounded-circle.mb-3{:alt => "", :src => "#{asset_path"https://i.gyazo.com/2676e97a67597be55c8081a156cfacf6.png"}"}
              %h5 Yasuyuki M.
              %p.font-weight-light.mb-0 CEO兼コーディネーター<br>進路指導から料金のご相談、先生のコーディネートまでなんでも言ってください！
    / Call to Action
    %section.call-to-action.text-white.text-center.effect-fade
      .overlay-a 
      .container
      
        .btn-a
          %span Wise-TV
          .dot

        .row
        
          .col-md-10.col-lg-8.col-xl-7.mx-auto
            %form
              .form-row__top
            .youtube-container
              %iframe#player{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/vZLttzhLIPU", :width => "560"}
            .youtube-container-text
              無料講座放映中
              
        
    / Footer
    %footer.footer.bg-light.effect-fade
      .container
        .row
          .col-lg-6.h-100.text-center.text-lg-left.my-auto
            %ul.list-inline.mb-2
              %li.list-inline-item
                %a{:href => "#"} About
              %li.list-inline-item ⋅
              %li.list-inline-item
                %a{:href => "#"} Contact
              %li.list-inline-item ⋅
              %li.list-inline-item
                %a{:href => "#"} Terms of Use
              %li.list-inline-item ⋅
              %li.list-inline-item
                %a{:href => "#"} Privacy Policy
            %p.text-muted.small.mb-4.mb-lg-0 © jupiter solution Website 2019. All Rights Reserved.
          .col-lg-6.h-100.text-center.text-lg-right.my-auto
            %ul.list-inline.mb-0
              %li.list-inline-item.mr-3
                %a{:href => "#"}
                  %i.fab.fa-facebook.fa-2x.fa-fw
              %li.list-inline-item.mr-3
                %a{:href => "#"}
                  %i.fab.fa-twitter-square.fa-2x.fa-fw
              %li.list-inline-item
                %a{:href => "#"}
                  %i.fab.fa-instagram.fa-2x.fa-fw
            
    / Bootstrap core JavaScript
    -# %script{:src => "vendor/jquery/jquery.min.js"}
    -# %script{:src => "vendor/bootstrap/js/bootstrap.bundle.min.js"}

