=render "teachers/teachersheader"
.main-section
  #navArea
    %nav-a
      .inner
        %ul
        
        %li
          =link_to "TOPへ戻る",root_path
        %li
          =link_to "お気に入り一覧へ",teacher_clips_path(:teacher_id)
        %li
          %a{:href => "#index1"} みんながいいねした先生
        %li
          %a{:href => "#index2"} 学年別選択
        %li
          %a{:href => "#index3"} 科目別選択
        %li
          %a{:href => "#"} 無料サポート
        %li
          %a{:href => "#"} 家庭教師ワイズについて
    .toggle_btn
      %span
      %span
      %span
      
    #mask

  
  .pickup-section
    .pickup-section__main
      .pickup-section__main--title
        .main__title--text
          ユーザー一覧
          .main__title--more
          %ul.pickup-section__main--users
            -@users.each do |user|
              =link_to user_path(user.id),class:"users__list" do
                %li.users__list
                  %figure.user
                    %figucaption.user__text
                      =user.name
                    .user__thumbnail
                      .user__thumbnail--label
                      .user__thumbnail--image 
                        -if user.img_name.present?
                          = higakin
                        -else
                          = image_tag "kotaro.jpg",width:"170px",height:"170px",class:"userInfo_img"
                = form_tag :chat_index, method: :post do
                  %input{:name => "user_id", :type => "hidden", :value => "#{user.id}"}/
                  = submit_tag 'チャットを開く', class: "chatForm_btn"
                  %i.far.fa-comment-dots

=render "teachers/teachersfooter"
