=render "teachers/teachersheader"
.main-section
  

  
  .pickup-section
    .pickup-section__main
      %ul.pickup-section__main--users
        -@users.each do |user|
          =link_to user_path(user.id),class:"users__list" do
            %li.users__list
              %figure.user
                %figucaption.user__text
                =user.name
              .user__thumbnail
                .user__thumbnail--label
                .user__thumbnail--image 
                  -if user.img_name.present?
                    = image_tag user.img_name.url(:thumb)
                  -else
                    = image_tag "kotaro.jpg",width:"170px",height:"170px",class:"userInfo_img"
          = form_tag :chat_index, method: :post do
            %input{:name => "user_id", :type => "hidden", :value => "#{user.id}"}/
            = submit_tag 'チャットを開く', class: "chatForm_btn"
=render "teachers/teachersfooter"
