.teacher-header__top
  -# %li.container{href: "https://school-wise.jp/"} 
  -#   %img#head_logo_wise{alt: "head_logo_wise", height: "", src: "https://school-wise.jp/wp-content/themes/school-wise/images/head_logo_wise.jpg", width: "15%"}/
  .more-information
    お問い合わせ<br> 0120-446-104
  .header__contents__below__personal__mypage
    %span.fas.fa-user-circle.login__icon
    -if user_signed_in?
      =link_to "マイページ", user_path(current_user.id),class:"mypage"
.search-header__top
  = search_form_for(@q,url:teacher_search_path(:teache_id)) do |f|
    = f.search_field :explain_cont,  class: 'form-a', placeholder: 'キーワードで検索', id: "form-a__box"
    
    =f.submit "検索する",type:'submit',class:'search-button-c'
  
  = search_form_for(@q,url:teacher_search_path(:teache_id)) do |f|
    
    = f.collection_select :prefecture_id_eq,Prefecture.all,:id,:name,{},{class:'form-a'}
    
    =f.submit "検索する",type:'submit',class:'search-button-c'
  = search_form_for(@q,url:teacher_search_path(:teache_id)) do |f|
    = f.search_field :name_cont,  class: 'form-a', placeholder: '科目で検索', id: "form-a__box"
    =f.submit "検索する",type:'submit',class:'search-button-c'
  = search_form_for(@q,url:teacher_search_path(:teache_id)) do |f|
    = f.search_field :name_cont,  class: 'form-a', placeholder: '講師名で検索', id: "form-a__box"
    
    =f.submit "検索する",type:'submit',class:'search-button-c'
.search-header__details  

  %a.js-modal-open{:href => ""} もっと詳細を検索する
  .modal.js-modal
    .modal__bg.js-modal-close
    .modal__content
      = search_form_for(@q,url:teacher_search_path(:teache_id)) do |f|
        
        学生(男)
        = f.radio_button :sex_eq, 0
        学生(女)
        = f.radio_button :sex_eq, 1
        社会人(男)
        = f.radio_button :sex_eq, 2
        社会人(女)
        = f.radio_button :sex_eq, 3
        =f.submit "検索する",type:'submit',class:'search-button-c'
      = search_form_for(@q,url:teacher_search_path(:teache_id)) do |f|
        = f.radio_button :subject_eq,'',{:checked => true}
        = f.radio_button :subject_eq, 0| 0
        = f.radio_button :subject_eq, 1| 1
        = f.radio_button :subject_eq, 2| 2
        = f.radio_button :subject_eq, 3| 3
        = f.radio_button :subject_eq, 4| 4
        = f.radio_button :subject_eq, 5| 5
        = f.radio_button :subject_eq, 6| 6
        = f.radio_button :subject_eq, 7| 7
        = f.radio_button :subject_eq, 8| 8
        = f.radio_button :subject_eq, 9| 9
        =f.submit "検索する",type:'submit',class:'search-button-c'
      %a.js-modal-close{:href => ""} 閉じる
  / modal__inner
/ modal


