%ul.teacher-header__top#gnav
  %li
    %a{:href => "/"} Wiseについて
  %li
    %a{:href => "/"} 料金案内
  %li
    %a{:href => "/"} Recruit
  %li
    %a{:href => "/"} お問い合わせ
  %li
    -if user_signed_in?
      =link_to "マイページ", user_path(current_user.id),class:"mypage"

  
  
  
.search-header__top
  = search_form_for(@q,url:teacher_search_path(:teache_id)) do |f|
    = f.search_field :explain_cont,  class: 'form-a', placeholder: 'キーワードで検索', id: "form-a__box"
    
    =f.submit "検索する",type:'submit',class:'search-button-c'
  
  = search_form_for(@q,url:teacher_search_path(:teache_id)) do |f|
    
    = f.collection_select :prefecture_id_eq,Prefecture.all,:id,:name,{},{class:'form-a'}
    
    =f.submit "検索する",type:'submit',class:'search-button-c'
  = search_form_for(@q,url:teacher_search_path(:teache_id)) do |f|
    = f.search_field :name_cont,  class: 'form-a', placeholder: '科目で検索', id: "form-a__box"
    =f.submit "検索する",type:'submit',class:'search-button-c'
  = search_form_for(@q,url:teacher_search_path(:teache_id)) do |f|
    = f.search_field :name_cont,  class: 'form-a', placeholder: '講師名で検索', id: "form-a__box"
    
    =f.submit "検索する",type:'submit',class:'search-button-c'
.search-header__details  

  %a.js-modal-open{:href => ""} もっと詳細を検索する
  .modal.js-modal
    .modal__bg.js-modal-close
    .modal__content
      = search_form_for(@q,url:teacher_search_path(:teache_id)) do |f|
        
        学生(男)
        = f.radio_button :sex_eq, 0
        学生(女)
        = f.radio_button :sex_eq, 1
        社会人(男)
        = f.radio_button :sex_eq, 2
        社会人(女)
        = f.radio_button :sex_eq, 3
        =f.submit "検索する",type:'submit',class:'search-button-c'

      = search_form_for(@q,url:teacher_search_path(:teache_id)) do |f|
        = f.radio_button :subject_eq,'',{:checked => true}
        小学算数
        = f.radio_button :subject_eq, 0
        小学国語
        = f.radio_button :subject_eq, 1
        小学理科、社会
        = f.radio_button :subject_eq, 2
        中学受験算数
        = f.radio_button :subject_eq, 3
        中学受験国語
        = f.radio_button :subject_eq, 4
        中学生英語
        = f.radio_button :subject_eq, 5
        中学生国語
        = f.radio_button :subject_eq, 6
        中学生数学
        = f.radio_button :subject_eq, 7
        大学受験数学
        = f.radio_button :subject_eq, 8
        大学受験英語
        = f.radio_button :subject_eq, 9
        =f.submit "検索する",type:'submit',class:'search-button-c'
      %a.js-modal-close{:href => ""} 閉じる
  / modal__inner
/ modal


