=render "teachersheader"
.exhibit__page
  .exhibit__page__main
    .exhibit__page__main__contents
      %h3.exhibit__page__main__contents__message
        講師の情報を入力
      = form_for @teacher,url:teacher_path, html:{class:"form-content"},method: :patch do |f|
        
        .img-form
          %h3.img__upload__text
            講師画像
            %span.form--caution 
              必須
          %p.img__upload__comment 最大10枚までアップロードできます
          .sell__main__content__file__up__head__preview
            %ul#preview_list
              - i = 0
              - @teacher.images.each_with_index do |image,i|
                %li.upload-sell-item{id: i}
                  - i += 1
                  .preview
                    .preview__img
                      =image_tag(@teacher.images[0].teacher_image.url,size: "114x114")
                    .preview__delete
                      .preview__delete--button
                        %p 削除
              .dropbox
                %label.dropbox__img
                  %p ドラッグアンドドロップ<br>またはクリックしてファイルをアップロード
                  = f.fields_for :images do |i|
                    = i.file_field :teacher_image,id:"sell-img"
        .teacher--content
          .teacher--content__name
            %h3.teacher--content__name__name
              講師名
              %span.form--caution 
                必須
            %div
              = f.text_field :name, class:"teacher-name__text__field",placeholder: "講師登録名（必須 40文字まで)"
          .teacher--content__description
            %h3.teacher--content__description__description
              自身のアピールポイント
              %span.form--caution 
                必須
            =f.text_area :explain,class:"teacher--content__text__area",placeholder: "自己アピールしてください（必須 1,000文字以内）（例）大学受験の数学指導に自身があります。"
        .teacher-details
          %h7.teacher-details__name 講師の詳細
          .teacher-details__form
            .teacher-details__form__category
              %h7.teacher-details__form__category__name
                コース選択
                %span.form--caution 必須
                .select--wrap
                  = f.collection_select :category_id, Category.all.limit(13), :id, :name,{prompt:"---"},{class:"select--wrap-cat1__default-category1"}
                  %i.fas.fa-angle-down
            .teacher-details__form__brand
              %h7.teacher-details__form__brand__name
                大学名
                %span.form--caution 任意
                .select--wrap
                  = f.select :university,Teacher.universities.keys,{prompt:"---"}, {class:"select--wrap__default"}
                  %i.fas.fa-angle-down
            .teacher-details__form__size
              %h7.product-details__form__size__name
                性別
                %span.form--caution 必須
                .select--wrap
                  = f.select :sex,Teacher.sexes.keys,{prompt:"---"}, {class:"select--wrap__default"}
                  %i.fas.fa-angle-down
            .teacher-details__form__status
              %h7.teacher-details__form__status__name
                指導可能科目
                %span.form--caution 必須
                .select--wrap
                  = f.select :subject,Teacher.subjects.keys,{prompt:"---"}, {class:"select--wrap__default"}
                  %i.fas.fa-angle-down
            
            .prefecture-form__box__middle
              .prefecture-form__box__top__name
                所属の地域
                %span.form--caution 必須
              .select--wrap
                = f.select :prefecture,Teacher.prefectures.keys,{prompt:"---"},{class:"select--wrap__default "}
                %i.fas.fa-angle-down
        
        .submit-button
          .actions
            =f.submit "変更する",class:"btn--red"
        .btn--gray
          =link_to "キャンセル", :back,class: "btn--gray-a"
=render "teachersfooter"
