.main-section
  
  =render "teachersheader"
  %header.masthead.text-white.text-center
    .overlay
      .container
  
  .pickup-section
    .pickup-section__header
      .pickup-section__header--title
        学年から先生を選んでみよう
      %ul.pickup-section__header--list
        %li.header__list--logo
          小学生コース
        %li.header__list--logo
          中学生コース
        %li.header__list--logo
          高校生一般コース
        %li.header__list--logo
          大学受験コース

    .pickup-section__main
      .pickup-section__main--title
        .main__title--text
          小学生コースの指導陣
        .main__title--more
          もっと見る >
      %ul.pickup-section__main--products
        - @elementary.each do |teacher|
          = render "teacher", teacher: teacher 

    .pickup-section__main
      .pickup-section__main--title
        .main__title--text
          中学生コースの講師陣
        .main__title--more
          もっと見る >
      %ul.pickup-section__main--products
        - @junior_high.each do |teacher|
          = render "teacher", teacher: teacher

    .pickup-section__main
      .pickup-section__main--title
        .main__title--text
          高校生コースの講師陣
        .main__title--more
          もっと見る >
      %ul.pickup-section__main--products
        - @highschool.each do |teacher|
          = render "teacher", teacher: teacher

    .pickup-section__main
      .pickup-section__main--title
        .main__title--text
          大学受験コースの講師陣
        .main__title--more
          もっと見る >
      %ul.pickup-section__main--products
        - @entrance_exam.each do |teacher|
          = render "teacher", teacher: teacher

  .pickup-section
    .pickup-section__header
      .pickup-section__header--title
        科目から選ぶ
      %ul.pickup-section__header--list
        %li.header__list--logo
          英語
        %li.header__list--logo
          数学
        %li.header__list--logo
          国語
        %li.header__list--logo
          算数

    .pickup-section__main
      .pickup-section__main--title
        .main__title--text
          英語講師陣
        .main__title--more
          もっと見る >
      %ul.pickup-section__main--products
        - @arithmatic.each do |teacher|
          = render "teacher", teacher: teacher
        
    .pickup-section__main
      .pickup-section__main--title
        .main__title--text
          数学講師陣
        .main__title--more
          もっと見る >
      %ul.pickup-section__main--products
        - @mathematic.each do |teacher|
          = render "teacher", teacher: teacher

    .pickup-section__main
      .pickup-section__main--title
        .main__title--text
          国語講師陣
        .main__title--more
          もっと見る >
      %ul.pickup-section__main--products
        - @japanese.each do |teacher|
          = render "teacher", teacher: teacher

    .pickup-section__main
      .pickup-section__main--title
        .main__title--text
          算数講師陣
        .main__title--more
          もっと見る >
      %ul.pickup-section__main--products
        - @english.each do |teacher|
          = render "teacher", teacher: teacher

-#   = render "bottom"

= render "register-tab"

=render "teachersfooter"



