.main-section
  
  =render "teachersheader"
  %header.masthead.text-white.text-center
    .overlay
      .container
  
  .pickup-section
    .pickup-section__header
      #index
      .pickup-section__header--title
        学年から先生を選んでみよう
      %ul.pickup-section__header--list
        %li
          %a{href: "#elementary"} 小学生コース
        %li
          %a{href: "#entrance_junior"} 中学受験コース
        %li
          %a{href: "#junior_high"} 中学生コース
        %li
          %a{href: "#entrance_high"} 高校受験コース
        %li
          %a{href: "#highschool"} 高校生一般
        %li
          %a{href: "#entrance_exam"} 大学受験


        -# %li.header__list--logo{id:"#{elementary}"}
        -#   小学生コース
        -# %li.header__list--logo{id:"#{junior-high}"}
        -#   中学生コース
        -# %li.header__list--logo{id:"#{highschool}"}
        -#   高校生一般コース
        -# %li.header__list--logo{id:"#{entrance-exam}"}
        -#   大学受験コース

    .pickup-section__main
      .pickup-section__main--title
        #elementary
          .main__title--text
            小学生コースの指導陣
          .main__title--more
          %a.button{:href => "#index"} ▲ 目次にもどる
      %ul.pickup-section__main--products
        - @elementary.each do |teacher|
          = render "teacher", teacher: teacher 

    .pickup-section__main
      .pickup-section__main--title
        #junior_high
          .main__title--text
            中学生コースの講師陣
          .main__title--more
          %a.button{:href => "#index"} ▲ 目次にもどる
      %ul.pickup-section__main--products
        - @junior_high.each do |teacher|
          = render "teacher", teacher: teacher

    .pickup-section__main
      .pickup-section__main--title
        #highschool
          .main__title--text
            高校生コースの講師陣
          .main__title--more
          %a.button{:href => "#index"} ▲ 目次にもどる
      %ul.pickup-section__main--products
        - @highschool.each do |teacher|
          = render "teacher", teacher: teacher
    .pickup-section__main
      .pickup-section__main--title
        #entrance_junior
          .main__title--text
            中学受験コースの講師陣
          .main__title--more
          %a.button{:href => "#index"} ▲ 目次にもどる
    .pickup-section__main
      .pickup-section__main--title
        #entrance_high
          .main__title--text
            高校受験コースの講師陣
          .main__title--more
          %a.button{:href => "#index"} ▲ 目次にもどる
            

    .pickup-section__main
      .pickup-section__main--title
        #entrance_exam
          .main__title--text
            大学受験コースの講師陣
          .main__title--more
          %a.button{:href => "#index"} ▲ 目次にもどる
      %ul.pickup-section__main--products
        - @entrance_exam.each do |teacher|
          = render "teacher", teacher: teacher

  .pickup-section
    .pickup-section__header
      .pickup-section__header--title
        科目から選ぶ
      %ul.pickup-section__header--list
        %li.header__list--logo
          英語
        %li.header__list--logo
          数学
        %li.header__list--logo
          国語
        %li.header__list--logo
          算数

    .pickup-section__main
      .pickup-section__main--title
        .main__title--text
          英語講師陣
        .main__title--more
          もっと見る >
      %ul.pickup-section__main--products
        - @arithmatic.each do |teacher|
          = render "teacher", teacher: teacher
        
    .pickup-section__main
      .pickup-section__main--title
        .main__title--text
          数学講師陣
        .main__title--more
          もっと見る >
      %ul.pickup-section__main--products
        - @mathematic.each do |teacher|
          = render "teacher", teacher: teacher

    .pickup-section__main
      .pickup-section__main--title
        .main__title--text
          国語講師陣
        .main__title--more
          もっと見る >
      %ul.pickup-section__main--products
        - @japanese.each do |teacher|
          = render "teacher", teacher: teacher

    .pickup-section__main
      .pickup-section__main--title
        .main__title--text
          算数講師陣
        .main__title--more
          もっと見る >
      %ul.pickup-section__main--products
        - @english.each do |teacher|
          = render "teacher", teacher: teacher

-#   = render "bottom"

= render "register-tab"

=render "teachersfooter"



