=render "teachersheader"
.main-section
  #navArea
  
    %nav-a
      .inner
        %ul
        
        %li
          =link_to "TOPへ戻る",root_path
        %li
          =link_to "お気に入り一覧へ",teacher_clips_path(:teacher_id)
        %li
          %a{:href => "#index1"} みんながいいねした先生
        %li
          %a{:href => "#index2"} 学年別選択
        %li
          %a{:href => "#index3"} 科目別選択
        %li
          %a{:href => "#"} 無料サポート
        %li
          %a{:href => "#"} 家庭教師ワイズについて
    .toggle_btn
      %span
      %span
      %span
      
    #mask
  
  %header.masthead.text-white.text-center
    .overlay
      .container
      .swiper-container
        -# slide wrapper
        .swiper-wrapper
          -# slides
          .swiper-slide
            = image_tag 'photo_2.jpg', alt: 'swipe01',id:"swiper-image"
          .swiper-slide
            = image_tag 'teacher.jpg', alt: 'swipe02',id:"swiper-image"
          .swiper-slide
            = image_tag 'kotaro.jpg', alt: 'swipe03',id:"swiper-image"
        -# if need navigation button 
      .swiper-button-prev
      .swiper-button-next
      -# if need pagination 
        .swiper-pagination
  .pickup-section
    .pickup-section__header
      #index1
      .pickup-section__header--title
        みんながいいねしてる先生
    .pickup-section__main
      .pickup-section__main--title
        .main__title--text
      %ul.pickup-section__main--teachers
        - @all_ranks.each do |teacher|
          =render "teacherlike",teacher:teacher
        
  .pickup-section
    .pickup-section__header
      #index2
      .pickup-section__header--title
        学年から先生を選んでみよう
      %ul.pickup-section__header--list
        %li.header__list--logo
          %a{href: "#elementary"} 小学生コース
        %li.header__list--logo
          %a{href: "#entrance_junior"} 中学受験コース
        %li.header__list--logo
          %a{href: "#junior_high"} 中学生コース
        %li.header__list--logo
          %a{href: "#entrance_high"} 高校受験コース
        %li.header__list--logo
          %a{href: "#highschool"} 高校生一般
        %li.header__list--logo
          %a{href: "#entrance_exam"} 大学受験


    .pickup-section__main
      .pickup-section__main--title
        #elementary
          .main__title--text
            小学生コースの指導陣
          .main__title--more
          %a.button{:href => "#index2"} ▲ コース別にもどる
      %ul.pickup-section__main--teachers
        - @elementary.each do |teacher|
          = render "teacher", teacher: teacher 

    .pickup-section__main
      .pickup-section__main--title
        #junior_high
          .main__title--text
            中学生コースの講師陣
          .main__title--more
          %a.button{:href => "#index2"} ▲ コース別にもどる
      %ul.pickup-section__main--teachers
        - @junior_high.each do |teacher|
          = render "teacher", teacher: teacher

    .pickup-section__main
      .pickup-section__main--title
        #highschool
          .main__title--text
            高校生コースの講師陣
          .main__title--more
          %a.button{:href => "#index2"} ▲ コース別にもどる
      %ul.pickup-section__main--teachers
        - @highschool.each do |teacher|
          = render "teacher", teacher: teacher
    .pickup-section__main
      .pickup-section__main--title
        #entrance_junior
          .main__title--text
            中学受験コースの講師陣
          .main__title--more
          %a.button{:href => "#index2"} ▲ コース別にもどる
      %ul.pickup-section__main--teachers
        - @entrance_junior.each do |teacher|
          = render "teacher", teacher: teacher 

    .pickup-section__main
      .pickup-section__main--title
        #entrance_high
          .main__title--text
            高校受験コースの講師陣
          .main__title--more
          %a.button{:href => "#index2"} ▲ コース別にもどる
      %ul.pickup-section__main--teachers
        - @entrance_high.each do |teacher|
          = render "teacher", teacher: teacher 

    .pickup-section__main
      .pickup-section__main--title
        #entrance_exam
          .main__title--text
            大学受験コースの講師陣
          .main__title--more
          %a.button{:href => "#index2"} ▲ コースにもどる
      %ul.pickup-section__main--teachers
        - @entrance_exam.each do |teacher|
          = render "teacher", teacher: teacher

  .pickup-section
    .pickup-section__header
      #index3
      .pickup-section__header--title
        科目から選ぶ
      %ul.pickup-section__header--list
        %li.header__list--logo
          %a{href: "#arithmatic"} 小学算数
        %li.header__list--logo
          %a{href: "#elementary-english"} 小学英語
        %li.header__list--logo
          %a{href: "#junior-high-math"} 中学数学
        %li.header__list--logo
          %a{href: "#junior-high-english"} 中学英語
        %li.header__list--logo
          %a{href: "#highschool-english"} 高校英語
        %li.header__list--logo
          %a{href: "#highschool-math"} 高校数学
        %li.header__list--logo
          %a{href: "#highschool-japanese"} 高校国語
        %li.header__list--logo
          %a{href: "#highschool-society"} 高校社会
        %li.header__list--logo
          %a{href: "#highschool-science"} 高校理科
    .pickup-section__main
      .pickup-section__main--title
        #arithmatic
          .main__title--text
            小学算数講師陣
          .main__title--more
          %a.button{:href => "#index3"} ▲ 科目別にもどる
      %ul.pickup-section__main--teachers
        - @arithmatic.each do |teacher|
          = render "teacher", teacher: teacher
        
    .pickup-section__main
      .pickup-section__main--title
        #elementary-english
          .main__title--text
            小学英語講師陣
          .main__title--more
          %a.button{:href => "#index3"} ▲ 科目別にもどる
      %ul.pickup-section__main--teachers
        - @mathematic.each do |teacher|
          = render "teacher", teacher: teacher

    .pickup-section__main
      .pickup-section__main--title
        #junior-high-math
          .main__title--text
            中学数学講師陣
          .main__title--more
          %a.button{:href => "#index3"} ▲ 科目別にもどる
      %ul.pickup-section__main--teachers
        - @mathematic.each do |teacher|
          = render "teacher", teacher: teacher

    .pickup-section__main
      .pickup-section__main--title
        #junior-high-english
          .main__title--text
            中学英語講師陣
          .main__title--more
          %a.button{:href => "#index3"} ▲ 科目別にもどる
      %ul.pickup-section__main--teachers
        - @english.each do |teacher|
          = render "teacher", teacher: teacher
    .pickup-section__main
      .pickup-section__main--title
        #highschool-math
          .main__title--text
            高校数学講師陣
          .main__title--more
          %a.button{:href => "#index3"} ▲ 科目別にもどる
      %ul.pickup-section__main--teachers
        - @mathematic.each do |teacher|
          = render "teacher", teacher: teacher
    .pickup-section__main
      .pickup-section__main--title
        #highschool-english
          .main__title--text
            高校英語講師陣
          .main__title--more
          %a.button{:href => "#index3"} ▲ 科目別にもどる
      %ul.pickup-section__main--teachers
        - @english.each do |teacher|
          = render "teacher", teacher: teacher
    .pickup-section__main
      .pickup-section__main--title
        #highschool-japanese
          .main__title--text
            高校国語講師陣
          .main__title--more
          %a.button{:href => "#index3"} ▲ 科目別にもどる
      %ul.pickup-section__main--teachers
        - @japanese.each do |teacher|
          = render "teacher", teacher: teacher
    .pickup-section__main
      .pickup-section__main--title
        #highschool-science
          .main__title--text
            高校理科講師陣
          .main__title--more
          %a.button{:href => "#index3"} ▲ 科目別にもどる
      %ul.pickup-section__main--teachers
        - @english.each do |teacher|
          = render "teacher", teacher: teacher

    .pickup-section__main
      .pickup-section__main--title
        #highschool-society
          .main__title--text
            高校社会講師陣
          .main__title--more
          %a.button{:href => "#index3"} ▲ 科目別にもどる
      %ul.pickup-section__main--teachers
        - @english.each do |teacher|
          = render "teacher", teacher: teacher
-#   = render "bottom"

= render "register-tab"

=render "teachersfooter"

