.main-section
  .header
    -# -if user_signed_in?
    -#   =render "home/header_login"
    -# -else
    -#   =render "home/header_unlogin"

  %ul.slick
    %li.slick-list
      = image_tag("photo_2.jpg", id: "slider-image")
      .slick__text
        .slick__text--large
          スマホで かんたん
          %br
          フリマアプリ
        .slick__text--small
          メルカリはスマホカメラからすぐに出品できる
          %br
          購入時も安心な独自システムのアプリです
      %ul.slick__link--tag
        %li.link__apple
          = link_to image_tag('download_on_the_AppStore_badge.svg', id: "appstore"), "https://apps.apple.com/jp/app/id667861049?l=ja"
        %li.link__google
          = link_to image_tag('google-play-badge.svg', id: "googleplay"), "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"
    %li.slick-list
      = image_tag("topPageSlider2.png", id: "slider-image")

  .pickup-section
    .pickup-section__header
      .pickup-section__header--title
        学年から先生を選んでみよう
      %ul.pickup-section__header--list
        %li.header__list--logo
          小学生コース
        %li.header__list--logo
          中学生コース
        %li.header__list--logo
          高校生一般コース
        %li.header__list--logo
          大学受験コース

    .pickup-section__main
      .pickup-section__main--title
        .main__title--text
          小学生コースの指導陣
        .main__title--more
          もっと見る >
      %ul.pickup-section__main--products
        - @elementary.each do |teacher|
          = render "teacher", teacher: teacher 

    .pickup-section__main
      .pickup-section__main--title
        .main__title--text
          中学生コースの講師陣
        .main__title--more
          もっと見る >
      %ul.pickup-section__main--products
        - @junior_high.each do |teacher|
          = render "teacher", teacher: teacher

    .pickup-section__main
      .pickup-section__main--title
        .main__title--text
          高校生コースの講師陣
        .main__title--more
          もっと見る >
      %ul.pickup-section__main--products
        - @highschool.each do |teacher|
          = render "teacher", teacher: teacher

    .pickup-section__main
      .pickup-section__main--title
        .main__title--text
          大学受験コースの講師陣
        .main__title--more
          もっと見る >
      %ul.pickup-section__main--products
        - @entrance_exam.each do |teacher|
          = render "teacher", teacher: teacher

  .pickup-section
    .pickup-section__header
      .pickup-section__header--title
        科目から選ぶ
      %ul.pickup-section__header--list
        %li.header__list--logo
          英語
        %li.header__list--logo
          数学
        %li.header__list--logo
          国語
        %li.header__list--logo
          算数

    .pickup-section__main
      .pickup-section__main--title
        .main__title--text
          英語講師陣
        .main__title--more
          もっと見る >
      %ul.pickup-section__main--products
        - @arithmatic.each do |teacher|
          = render "teacher", teacher: teacher
        
    .pickup-section__main
      .pickup-section__main--title
        .main__title--text
          数学講師陣
        .main__title--more
          もっと見る >
      %ul.pickup-section__main--products
        - @mathematic.each do |teacher|
          = render "teacher", teacher: teacher

    .pickup-section__main
      .pickup-section__main--title
        .main__title--text
          国語講師陣
        .main__title--more
          もっと見る >
      %ul.pickup-section__main--products
        - @japanese.each do |teacher|
          = render "teacher", teacher: teacher

    .pickup-section__main
      .pickup-section__main--title
        .main__title--text
          算数講師陣
        .main__title--more
          もっと見る >
      %ul.pickup-section__main--products
        - @english.each do |teacher|
          = render "teacher", teacher: teacher

-#   = render "bottom"

= render "register-tab"

-# =render "home/footer"

= link_to "仮のボタンです", "#", class: "btn btn-primary"
.footer
  .footer__contents
    .footer__contents__about
      %h2.footer__contents__about__title 家庭教師wiseについて
      %ul.footer__contents__about__item
        %li
          =link_to "会社概要（運営会社）", "/about/corporate",{class: "footer-item"}
        %li
          =link_to "採用情報", "/about/recruit",{class: "footer-item"}
        %li
          =link_to "プレスリリース", "/about/press",{class: "footer-item"}
        %li
          =link_to "公式ブログ", "/about/blog",{class: "footer-item"}
        
      =link_to "/twitter" do
        %i.fab.fa-twitter.twitter
      =link_to "/facebook" do
        %i.fab.fa-facebook-square.facebook 
    .footer__contents__help
      %h2.footer__contents__help__title ヘルプ＆ガイド
      %ul.footer__contents__help__item
        %li
          =link_to "エフマガイド", "/help/mercari-guide",{class: "footer-item"}
        %li
          =link_to "らくらくエフマ便", "/help/easy-mercari-delivery",{class: "footer-item"}
        %li
          =link_to "ゆうゆうエフマ便", "/help/u2-mercari-delivery",{class: "footer-item"}
        %li
          =link_to "大型エフマ便", "/help/big-mercari-delivery",{class: "footer-item"}
        %li
          =link_to "車体取引ガイド", "/help/body-trading-guide",{class: "footer-item"}
        %li
          =link_to "エフマあんしん・あんぜん宣言！", "/help/declair",{class: "footer-item"}
        %li
          =link_to "偽ブランド品撲滅への取り組み", "/help/fake",{class: "footer-item"}
        %li
          =link_to "エフマボックス", "/help/mercari-box",{class: "footer-item"}
    .footer__contents__privacy
      %h2.footer__contents__privacy__title プライバシーと利用規約
      .footer__contents__privacy--1
        %ul.footer__contents__privacy--1__item1
          %li
            =link_to "プライバシーポリシー", "/privacy/poricy",{class: "footer-item"}
          %li
            =link_to "エフマ利用規約", "/privacy/rule",{class: "footer-item"}
          %li
            =link_to "あんしんスマホサポート制度に関する利用特約", "/privacy/rule-smartsupport",{class: "footer-item"}
          %li
            =link_to "コンプライアンスポリシー", "/privacy/complaiance",{class: "footer-item"}
        .footer__contents__privacy--2
          %ul.footer__contents__privacy--2__item2
            %li
              =link_to "個人データの安全管理に係る基本方針", "/privacy/personaldata",{class: "footer-item"}
            %li
              =link_to "特定商取引に関する表記", "/privacy/notation-specific-item",{class: "footer-item"}
            %li
              =link_to "資金決済法に基づく表示", "/privacy/payment",{class: "footer-item"}
            %li
              =link_to "法令順守と犯罪抑止のために", "/privacy/legal",{class: "footer-item"}
    .footer__contents__region
      %h2.footer__contents__region__title 国
      %ul.footer__contents__region__item
        %li
          =link_to "日本", "/region/japan",{class: "footer-item"}
        %li
          =link_to "United States", "/region/us",{class: "footer-item"}
  .footer__corporate
    =link_to image_tag("logo_white.svg",width:"40",height:"36"), root_path,{class: "footer-logo"}
    =link_to "Fmarket", root_path,{class: "footer-logo"}
    %span.corporate © jupiter.
