.exhibit__page
  .exhibit__page__main
    .exhibit__page__main__contents
      %h3.exhibit__page__main__contents__message
        講師の情報を入力
        = form_for @teacher, html:{class:"form-content"} do |f|
          .img-form
            %h3.img__upload__text
              講師画像
              %span.form--caution 
                必須
            %p.img__upload__comment 最大10枚までアップロードできます
            .dropbox
              %label.dropbox__img
                %p ドラッグアンドドロップ<br>またはクリックしてファイルをアップロード
                = f.fields_for :images do |image|
                  = image.file_field :teacher_image, id: "sell-img"
          .sell--content
            .sell--content__name
              %h3.sell--content__name__name
                講師名
                %span.form--caution 
                  必須
            
              = f.text_field :name, class:"product-name__text__field",placeholder: "講師登録名（必須 40文字まで)"
          .sell--content__description
            .sell--content__description__description
              自身のアピールポイント
              %span.form--caution 
                必須
            =f.text_area :explain,class:"sell--content__text__area",placeholder: "自己アピールしてください（必須 1,000文字以内）（例）大学受験の数学指導に自身があります。"
          .product-details
            .product-details__name 講師の詳細
            .product-details__form
              .product-details__form__brand
                .product-details__form__brand__name
                  大学名
                  %span.form--caution 任意
                  .select--wrap
                    = f.select :university,Teacher.universities.keys,{prompt:"---"}, {class:"select--wrap__default"}
                    %i.fas.fa-angle-down
              .product-details__form__size
                %h7.product-details__form__size__name
                  性別
                  %span.form--caution 必須
                  .select--wrap
                    = f.select :sex,Teacher.sexes.keys,{prompt:"---"}, {class:"select--wrap__default"}
                    %i.fas.fa-angle-down
              .product-details__form__status
                %h7.product-details__form__status__name
                  指導可能科目
                  %span.form--caution 必須
                  .select--wrap
                    = f.select :subject,Teacher.subjects.keys,{prompt:"---"}, {class:"select--wrap__default"}
                    %i.fas.fa-angle-down
              .delivery-form__box__middle
                %h7.delivery-form__box__top__name
                  所属の地域
                  %span.form--caution 必須
                .select--wrap
                  = f.select :prefecture,Teacher.prefectures.keys,{prompt:"---"},{class:"select--wrap__default "}
                  %i.fas.fa-angle-down
          .submit-button
            .actions
            =f.submit "登録する",class:"btn--red"
            =link_to "もどる",teachers_path,class:"btn--gray"
    .exhibit-page__footer
      .exhibit-page__footer__content
        .exhibit-page__footer__content__main
          %ul.exhibit-page__footer__lists
            %li.exhibit-page__footer__list
              プライバシーポリシー
            %li.exhibit-page__footer__list
              
            %li.exhibit-page__footer__list
              
            %p.exhibit-page__footer__copyright
              © 2020 ジュピターsolution
