.product-details__page
  .product-details__page__head
    .product-details__page__main
      %h1.product-name
        =@teacher.name
      %p.product-wording
        =@teacher.explain
      .product-details__page__main__content.clearfix
        .product-details__page__main__content__image
          =image_tag(@teacher.images[0].teacher_image.url)
          -# -if @product.buyer_id.present? 
          -#   .items-box_photo__sold
          -#     .items-box_photo__sold__inner SOLD
          -# -if @product.reservation_email.present? 
          -#   .items-box_photo__reserved
          -#     .items-box_photo__reserved__inner Reserved
          .owl-dots
            .owl-dot
              .owl-dot-inner 
              .owl-dot-inner
              .owl-dot-inner
              .owl-dot-inner
        %table.product-details__page__main__content__right
          %tbody
            %tr
              %th 講師名
              %td 
                =@teacher.name
                %div
                  .product-user-ratings
                    %i.fa.fa-grin.icon-good
                    %span
                      = @good_count
                  .product-user-ratings
                    %i.fa.fa-meh.icon-normal
                    %span
                      = @normal_count
                  .product-user-ratings
                    %i.fa.fa-frown.icon-bad
                    %span
                      = @bad_count
            %tr
              %th 担当科目
              %td=@teacher.subject
            %tr
              %th 出身大学
              %td=@teacher.university
            %tr
              %th 性別
              %td=@teacher.sex
            
            %tr
              %th 講師担当地域
              %td=@teacher.prefecture
            
        .product-details-page__price
          %span.product-price.bold
            -# = number_to_currency(@product.price,format: "%u%n",unit:"¥",precision: 0)
          %span.product-tax          (税込)
          %span.product-shipping-fee 送料込み
        .product-buy__btn__box
          -# - if user_signed_in? && current_user.id ==@product.user_id
          = link_to "削除する", teacher_path(@teacher.id), method: :delete,class:"product-details-delete__btn"

          = link_to "編集する", edit_teacher_path(@teacher.id),class:"product-details-edit__btn" 
          = link_to "講師一覧ページへ",teachers_path,class:"product-details-edit__btn"
            