=render "teachersheader"
.main-section
  #navArea
  
    %nav-a
      .inner
        %ul
        
        %li
          =link_to "TOPへ戻る",root_path
        %li
          =link_to "お気に入り一覧へ",teacher_clips_path(:teacher_id)
        %li
          %a{:href => "#index1"} みんながいいねした先生
        %li
          %a{:href => "#index2"} 学年別選択
        %li
          %a{:href => "#index3"} 科目別選択
        %li
          %a{:href => "#"} 無料サポート
        %li
          %a{:href => "#"} 家庭教師ワイズについて
    .toggle_btn
      %span
      %span
      %span
      
    #mask
  .teacher-details__page
    .teacher-details__page__head
      .teacher-details__page__main
        %h1.teacher-name
          =@teacher.name
        %p.teacher-wording
          =@teacher.explain
        .teacher-details__page__main__content.clearfix
          .teacher-details__page__main__content__image
            =image_tag(@teacher.images[0].teacher_image.url)
            
            .owl-dots
              =link_to "http://twitter.com/share?url=#{request.url}/&text=家庭教師のワイズの先生です",{class:"footer-icon_1"} do
                %i.fab.fa-twitter.twitter
              .owl-dot
                .owl-dot-inner 
                .owl-dot-inner
                .owl-dot-inner
                .owl-dot-inner
          %table.teacher-details__page__main__content__right
            %tbody
              %tr
                %th 講師名
                %td 
                  =@teacher.name
                  %div
                    .product-user-ratings
                      %i.fa.fa-grin.icon-good
                      %span
                        = @good_count
                    .product-user-ratings
                      %i.fa.fa-meh.icon-normal
                      %span
                        = @normal_count
                    .product-user-ratings
                      %i.fa.fa-frown.icon-bad
                      %span
                        = @bad_count
              %tr
                %th 担当科目
                %td=@teacher.subject
              %tr
                %th 出身大学
                %td=@teacher.university
              %tr
                %th 性別
                %td=@teacher.sex
              
              %tr
                %th 講師担当地域
                %td=@teacher.prefecture
            

        .teacher-details-page-bottom.clearfix
          
          .teacher-button-left
          %div{:id => "like-icon-post-#{@teacher.id.to_s}"}
          - if current_user.likes.find_by(teacher_id:@teacher.id)
            =link_to "いいねを取り消す", teacher_like_path(@teacher.id), method: :DELETE, remote: true, class: "loved hide-text"
          -else
            =link_to "いいね", teacher_likes_path(@teacher), method: :POST, remote: true, class: "love hide-text"
          %div{:id => "like-text-post-#{@teacher.id.to_s}"}
            = render "likes/like", { likes: @teacher.likes }
          %div
            
            
            -if current_user.clips.find_by(teacher_id:@teacher.id)
              = link_to "登録を取り消す",teacher_clip_path(@teacher.id),method: :DELETE,remote: true,class:"bnt-massage-c"
            -else  
              = link_to "この先生を登録", add_teacher_path(@teacher), method: :post,class:"bnt-massage-c"
                
            

          
        .product-buy__btn__box
          - if user_signed_in? && current_user.id ==@teacher.user_id
            = link_to "削除する", teacher_path(@teacher.id), method: :delete,class:"teacher-details-delete__btn"

            = link_to "編集する", edit_teacher_path(@teacher.id),class:"teacher-details-edit__btn" 
          - else
          = link_to "講師一覧ページへ",teachers_path,class:"teacher-details-edit__btn"
=render "teachersfooter"
            