=render "top/headcontainer"
.product-details__page
  .product-details__page__head
    .product-details__page__main
      %h1.product-name
        =@teacher.name
      %p.product-wording
        =@teacher.explain
      .product-details__page__main__content.clearfix
        .product-details__page__main__content__image
          =image_tag(@teacher.images[0].teacher_image.url)
          
          .owl-dots
            .owl-dot
              .owl-dot-inner 
              .owl-dot-inner
              .owl-dot-inner
              .owl-dot-inner
        %table.product-details__page__main__content__right
          %tbody
            %tr
              %th 講師名
              %td 
                =@teacher.name
                %div
                  .product-user-ratings
                    %i.fa.fa-grin.icon-good
                    %span
                      = @good_count
                  .product-user-ratings
                    %i.fa.fa-meh.icon-normal
                    %span
                      = @normal_count
                  .product-user-ratings
                    %i.fa.fa-frown.icon-bad
                    %span
                      = @bad_count
            %tr
              %th 担当科目
              %td=@teacher.subject
            %tr
              %th 出身大学
              %td=@teacher.university
            %tr
              %th 性別
              %td=@teacher.sex
            
            %tr
              %th 講師担当地域
              %td=@teacher.prefecture
      .product-details-page-bottom.clearfix
        .product-button-left
        %div{:id => "like-icon-post-#{@teacher.id.to_s}"}
          - if @teacher.liked_by(current_user).present?
            = link_to "いいねを取り消す", teacher_like_path(@teacher.id, @teacher.liked_by(current_user)), method: :DELETE, remote: true, class: "loved hide-text"
          - else
            = link_to "いいね", teacher_likes_path(@teacher), method: :POST, remote: true, class: "love hide-text"
        %div{:id => "like-text-post-#{@teacher.id.to_s}"}
          = render "likes/like", { likes: @teacher.likes }
        %div
          = link_to "この先生を登録", add_teacher_path(@teacher), method: :post,class:"bnt-massage-c"
          
              
          

        
      .product-buy__btn__box
        - if user_signed_in? && current_user.id ==@teacher.user_id
          = link_to "削除する", teacher_path(@teacher.id), method: :delete,class:"product-details-delete__btn"

          = link_to "編集する", edit_teacher_path(@teacher.id),class:"product-details-edit__btn" 
        - else
        = link_to "講師一覧ページへ",teachers_path,class:"product-details-edit__btn"
=render "teachersfooter"
            